################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

*.vsidx
/.vs/DesafioBackend/FileContentIndex/ac544e14-4ad5-426b-b38c-ec18b4c9581c.vsidx
/.vs/DesafioBackend/v17/.suo
/.vs/DesafioBackend/v17/DocumentLayout.json
/src/Application/bin/Debug/net8.0/Application.dll
/src/Application/bin/Debug/net8.0/Application.pdb
/src/Application/bin/Debug/net8.0/Domain.dll
/src/Application/bin/Debug/net8.0/Domain.pdb
/src/Application/bin/Debug/net8.0/Infrastructure.dll
/src/Application/bin/Debug/net8.0/Infrastructure.pdb
/src/Application/obj/Debug/net8.0/ref/Application.dll
/src/Application/obj/Debug/net8.0/refint/Application.dll
/src/Application/obj/Debug/net8.0/Application.AssemblyInfoInputs.cache
/src/Application/obj/Debug/net8.0/Application.AssemblyInfo.cs
/src/Application/obj/Debug/net8.0/Application.csproj.AssemblyReference.cache
/src/Application/obj/Debug/net8.0/Application.csproj.FileListAbsolute.txt
/src/Application/obj/Debug/net8.0/Application.dll
/src/Application/obj/Debug/net8.0/Application.pdb
*.json
/src/DesafioBackend.API/bin/Debug/net8.0/Application.dll
/src/DesafioBackend.API/bin/Debug/net8.0/Application.pdb
/src/DesafioBackend.API/bin/Debug/net8.0/DesafioBackend.API.dll
/src/DesafioBackend.API/bin/Debug/net8.0/DesafioBackend.API.exe
/src/DesafioBackend.API/bin/Debug/net8.0/DesafioBackend.API.pdb
/src/DesafioBackend.API/bin/Debug/net8.0/Domain.dll
/src/DesafioBackend.API/bin/Debug/net8.0/Domain.pdb
/src/DesafioBackend.API/bin/Debug/net8.0/Infrastructure.dll
/src/DesafioBackend.API/bin/Debug/net8.0/Infrastructure.pdb
/src/DesafioBackend.API/obj/Debug/net8.0/ref/DesafioBackend.API.dll
/src/DesafioBackend.API/obj/Debug/net8.0/refint/DesafioBackend.API.dll
/src/DesafioBackend.API/obj/Debug/net8.0/apphost.exe
/src/DesafioBackend.API/obj/Debug/net8.0/DesafioBackend.API.AssemblyInfo.cs
/src/DesafioBackend.API/obj/Debug/net8.0/DesafioBackend.API.AssemblyInfoInputs.cache
/src/DesafioBackend.API/obj/Debug/net8.0/DesafioBackend.API.csproj.AssemblyReference.cache
/src/DesafioBackend.API/obj/Debug/net8.0/DesafioBackend.API.csproj.FileListAbsolute.txt
/src/DesafioBackend.API/obj/Debug/net8.0/DesafioBackend.API.dll
/src/DesafioBackend.API/obj/Debug/net8.0/DesafioBackend.API.pdb
/src/Domain/bin/Debug/net8.0/Domain.dll
/src/Domain/bin/Debug/net8.0/Domain.pdb
/src/Domain/obj/Debug/net8.0/ref/Domain.dll
/src/Domain/obj/Debug/net8.0/refint/Domain.dll
/src/Domain/obj/Debug/net8.0/Domain.AssemblyInfo.cs
/src/Domain/obj/Debug/net8.0/Domain.AssemblyInfoInputs.cache
/src/Domain/obj/Debug/net8.0/Domain.csproj.FileListAbsolute.txt
/src/Domain/obj/Debug/net8.0/Domain.dll
/src/Domain/obj/Debug/net8.0/Domain.pdb
/src/Infrastructure/obj/Debug/net8.0/ref/Infrastructure.dll
/src/Infrastructure/bin/Debug/net8.0/Domain.dll
/src/Infrastructure/bin/Debug/net8.0/Domain.pdb
/src/Infrastructure/bin/Debug/net8.0/Infrastructure.dll
/src/Infrastructure/bin/Debug/net8.0/Infrastructure.pdb
/src/Infrastructure/obj/Debug/net8.0/refint/Infrastructure.dll
/src/Infrastructure/obj/Debug/net8.0/Infrastructure.AssemblyInfo.cs
/src/Infrastructure/obj/Debug/net8.0/Infrastructure.AssemblyInfoInputs.cache
/src/Infrastructure/obj/Debug/net8.0/Infrastructure.csproj.AssemblyReference.cache
/src/Infrastructure/obj/Debug/net8.0/Infrastructure.csproj.FileListAbsolute.txt
/src/Infrastructure/obj/Debug/net8.0/Infrastructure.dll
/src/Infrastructure/obj/Debug/net8.0/Infrastructure.pdb
